<!DOCTYPE html>
<html ng-app="TrackApp" ng-controller="TrackController">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Sails Socket Dependancy -->
  <script type="text/javascript" src="/js/dependencies/sails.io.js"></script>
  
  <link rel='stylesheet' href='/assets/css/fullcalendar.css'>
  <link rel='stylesheet' href='/assets/css/datatables/datatables.css'>
  <link rel='stylesheet' href='/assets/css/datatables/bootstrap.datatables.css'>
  <link rel='stylesheet' href='/assets/scss/chosen.css'>
  <link rel='stylesheet' href='/assets/scss/font-awesome/font-awesome.css'>
  <link rel='stylesheet' href='/assets/css/app.css'>
  <link rel='stylesheet' href='/assets/css/tracker.css'>



  <link href='http://fonts.googleapis.com/css?family=Oswald:300,400,700|Open+Sans:400,700,300' rel='stylesheet' type='text/css'>

  <link href="/assets/favicon.ico" rel="shortcut icon">
  <link href="/assets/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
@javascript html5shiv respond.min
<![endif]-->

<title>Grupo Tradeco S.A. de C.V.</title>

</head>

<body>

 

  <div class="all-wrapper">
    <div class="row">
      <div class="col-md-3">
        <div class="text-center">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="side-bar-wrapper collapse navbar-collapse navbar-ex1-collapse">
          <a href="#" class="logo hidden-sm hidden-xs">
            <img src="/mnc.png" style="width:250px"/>
            <span>PRUEBA DE CONCEPTO</span>
          </a>
        <!--  <div class="search-box">
            <input type="text" placeholder="SEARCH" class="form-control">
          </div>
          <ul class="side-menu">
            <li>
              <a href="notifications.html">
                <span class="badge badge-notifications pull-right alert-animated">5</span>
                <i class="icon-flag"></i>Solicitudes Activas
              </a>
            </li>
          </ul>-->
          <div class="relative-w">
            <ul class="side-menu side-menu-blue">
             <li id="dashboard" >
                <a class='current' href="/" ng-click="showModule(0)">            
                  <i class="icon-rss-sign"></i> Live Dashboard
                </a>
              </li>
               <!--li>
                <a class='current' ui-sref="solicitud">
                  <i class="icon-edit"></i> Crear Solicitud
                </a>
              </li-->
             <li id="solicitudes">
                <a class='current' ui-sref="reporte" ng-click="showModule(1)">
                  <i class="icon-list"></i> Solicitudes
                </a>
              </li>
              <!--li>
                <a href="/unauthorized">
                  <i class="icon-truck"></i>Unidades
                </a>
              </li>
              <li>
                <a href="/unauthorized">
                  <i class="icon-male"></i>Conductores
                </a>
              </li>
              <li>
                <a href="/unauthorized">
                  <i class=" icon-road"></i>Proyectos
                </a>
              </li>
              <li>
                <a href="/unauthorized">
                  <i class="icon-group"></i> Usuarios
                </a>
              </li>
              <li>
                <a href="/unauthorized">
                  <i class="icon-building"></i>CEDIS
                </a>
              </li>
              <li>
                <a href="/unauthorized">
                  <i class="icon-gears"></i>Parametros
                </a>
              </li-->
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-9">

        <div class="content-wrapper">
          <div class="content-inner">
            <div class="page-header page-header-blue">
              <div class="header-links hidden-xs">
                
                <a href="/login.html" onclick="window.location = '/login.html'"><i class="icon-signout"></i> Logout</a>
              </div>
              <h1 class="ng-cloak"><i class="{{iconoPagina}}" ></i>{{tituloPagina}}</h1>
            </div>
            <%- body %>
          </div>

        </div>
      </div>
    </div>


    

  
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src='/assets/js/jquery.sparkline.min.js'></script>
    <script src='/assets/js/bootstrap/tab.js'></script>
    <script src='/assets/js/bootstrap/dropdown.js'></script>
    <script src='/assets/js/bootstrap/collapse.js'></script>
    <script src='/assets/js/bootstrap/alert.js'></script>
    <script src='/assets/js/bootstrap/transition.js'></script>
    <script src='/assets/js/bootstrap/tooltip.js'></script>
    <script src='/assets/js/jquery.knob.js'></script>
    <script src='/assets/js/fullcalendar.min.js'></script>
    <script src='/assets/js/datatables/datatables.min.js'></script>
    <script src='/assets/js/chosen.jquery.min.js'></script>
    <script src='/assets/js/datatables/bootstrap.datatables.js'></script>
    <script src='/assets/js/raphael-min.js'></script>
    <script src='/assets/js/morris-0.4.3.min.js'></script>
    <script src='/assets/js/for_pages/color_settings.js'></script>
    <script src='/assets/js/application.js'></script>

    <!-- bootstrap -->
    <script src="/js/lib/bootstrap.min.js"></script>

    
    <!-- Librerias -->
    <script src="/js/angular-1.3.8/angular.min.js"></script>
    <script src="/js/angular-1.3.8/angular-animate.js"></script>
    <script src="/js/angular-1.3.8/angular-route.min.js"></script>
    <script src="/js/angular-1.3.8/angular-input-match.js"></script>
    <script src="/js/angular-1.3.8/angular-ui/angular-ui-router.min.js"></script>

    <!-- Google Map -->
    <script src="/js/angular-google-map/lodash.js"></script>  
    <script src="/js/angular-google-map/angular-google-maps.min.js"></script>  
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!-- Librerias -->

       <script src="/js/ui-bootstrap-tpls-0.13.3.min.js"></script>
       
    <script src="/js/module/login.js"></script>  
    <script src="/js/module/dashboard.js"></script>  
    <script src="/js/track.js"></script>  
    <script src="/js/module/solicitud.js"></script>
    <script src="/js/module/reporte.js"></script>
    <script src="/js/module/orden.js"></script>

  </body>

  </html>