<div>
	<div class="row">
		<style type="text/css">
			.angular-google-map-container { height: 75vh; }
		</style>
		<ui-gmap-google-map center='map.center' zoom='map.zoom'>
			<ui-gmap-marker coords="ruta1.coords" idkey="ruta1.id" icon="ruta1.icono" 
				click="onClick()">
				<ui-gmap-window options="windowOptions" closeClick="closeClick()">
	                <div style="font-size:10px;height:80px;">
	                	Conductor: Juanito Perez<br/>
	                	No. Econ: 2987321 <br/>
	                	Telefono: 5523988392<br/>
	                	<button>ver detalle</button><br/>
	                </div>
	            </ui-gmap-window>
	        </ui-gmap-marker>

			<ui-gmap-markers models="puntos" coords="'self'" icon="'icono'">
	        </ui-gmap-markers>

		</ui-gmap-google-map>
	</div>
	<div class="row">
	<br>
		<a href="/fullscreen" target="_blank" class="col-md-12 btn btn-primary">Pantalla completa</a>

	</div>
</div>