<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-list"></i>Detalle Pedido</h3>
              <div class="form-group">
                <label>Nombre Obra: Centro de Entrenamiento de Vuelo </label>
                </br>
                <label>Direccion Obra: Unnamed Rd, Nuevo México, Jal., México</label>
                </br>
                </br>
                <label>Lista de Materiales:</label>
                </br>
                <label>5 toneladas de cemento</label>              
              </div>     
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>