<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-list"></i>Detalle Pedido</h3>
              <div class="form-group">
                <label>Nombre Obra: Edificio Plataforma México</label>
                </br>
                <label>Direccion Obra: Av. Constituyentes #947, Alvaro Obregon, Belen de las Flores, 01110 Ciudad de México, D.F., México</label>
                </br>
                </br>
                <label>Lista de Materiales:</label>
                </br>
                <label>1 tonelada de cemento</label>
                </br>
                <label>1 millar tabique rojo</label>
                </br>
                <label>2 millares de block</label>          
              </div>     
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>