<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-list"></i>Detalle Pedidos</h3>
              <div class="form-group">
                <label>Orden Id: <b>{{detalleOrder.id}}</b>  </label>
                </br>
                <label>Direccion Destino: <b>{{detalleOrder.orden.direccion}}</b> </label>
                </br>
                </br>
                <label>Compra</label>
                </br>
                <label>Cantidad: <b>{{detalleOrder.cantidad}}</b> </label>
                </br>
                <label>Producto: <b>{{detalleOrder.producto.descripcion}}</b> </label>
                </br>
                <label>Descripcion: <b>{{detalleOrder.producto.presentacion}}</b> </label>    
                </br>
                <label>Precio por unidad:  <b>{{detalleOrder.producto.precio}}</b> </label>    
              </div>     
              <a class="btn btn-primary" href="/reporte"> 
                REGRESAR 
              </a>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>