<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-list"></i>Detalle Pedido</h3>
              <div class="form-group">
                <label>Nombre Obra: Edificio Plataforma México</label>
                </br>
                <label>Direccion Obra: Av. Constituyentes #947, Alvaro Obregon, Belen de las Flores, 01110 Ciudad de México, D.F., México</label>
                </br>
                </br>
                <label>Lista de Materiales:</label>
                </br>
                <label>3 T VARILLA CORRUGADA DE 3/8 No, 3</label>
                </br>
                <label>4 T VARILLA CORRUGADA DE 1/2 No. 4</label>
                </br>
                <label>7 T VARILLA CORRUGADA DE 5/8 No. 5</label>          
              </div>     
              <a class="btn btn-primary" ui-sref="dashboard"> 
                REGRESAR 
              </a>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>