<div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-list"></i>Detalle Pedido</h3>
              <div class="form-group">
                <label>Nombre Obra: Torre Esmeralda</label>
                </br>
                <label>Direccion Obra: Boulevard Manuel Ávila Camacho 36, 20º andar Torre Esmeralda II Colonia Lomas de Chapultepec</label>
                </br>
                </br>
                <label>Lista de Materiales:</label>
                </br>
                <label>3 T ANGULO DE ACERO 1 1/2' X 1 1/2' DE 1/4</label>
                </br>
                <label>2 T ANGULO DE ACERO 3/4 X 3/4 DE 1/8</label>
                </br>
                <label>5 T ANGULO DE ACERO 1 X  DE 1/8</label>          
              </div>     
              <a class="btn btn-primary" ui-sref="dashboard"> 
                REGRESAR 
              </a>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>