<div class="row">
    <div class="col-md-8 col-md-offset-2">

      <div class="content-wrapper bold-shadow">
        <div class="content-inner">
          <div class="main-content main-content-grey-gradient no-page-header">
            <div class="main-content-inner">
            <form action="" role="form">
              <h3 class="form-title form-title-first"><i class="icon-lock"></i>Acceso Denegado</h3>
              <div class="form-group">
                <label>El usuario no tiene permiso para ejecutar esta acción. Consulte al administrador</label>
               
              </div>
             
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>