<div>
  <div class="widget">   
		        <div class="row-fluid">
		            <div class="span7 row">
		             <br/>

		            <div class="row">
	                  <div class="col-xs-4">
	                    <label>Responsable de la Obra</label>
					    <input type="text" ng-model="pedido.User" class="form-control" ng-disabled="true">
					  </div>  
	                </div>
 					<br/>
	                  <div class="form-group">
					  <label for="sel1">Nombre de la Obra</label>
					  <select class="form-control" id="sel1">
					    <option>Torre Reforma</option>
					    <option>Centro de Entrenamiento de Bolo</option>
					    <option>Consejo de la Judicatura Federal</option>
					  </select>
			 		</div>

 					<br/>
	 			 	<div class="form-group">
					  <label for="sel1">Dirección de la Obra</label>
					  <select class="form-control" id="sel1">
					    <option>Reforma 296 col. Juarez D.P 06600</option>
					    <option>Av. Aviación No. 5851 en la estrada Zapopan, Jalisco C.P. 45100</option>
					    <option>Insurgentes 1961 San Angel Inn Alvaro Obregon</option>
					  </select>
				  	</div>


		            <br/>
		            <h3>Materiales</h3>
		            
		         <!--   <div class="col-xs-5" align="center" ng-repeat="producto in productos">
		                    <h4>{{producto.Producto}}</h4>
		                    <!--<img class="" height="150" width="150" align="center" title="{{producto.Producto}}" 
		                    src="{{producto.Imagen}}" />
		                    <button class="btn btn-info btn-block" ng-click="agregar(producto)"> 
		                        <i class="icon-plus-sign"></i>
		                        Agregar a la Lista
		                    </button>
		            </div>-->


					<div class="padded">
			        <table class="table" >
			          <thead>
			            <tr>
			              <th>Codigo Producto</th>
			              <th>Nombre Material</th>
			              <th>U.M</th>
			              <th>Ordenar</th>
			            </tr>
			          </thead>
			          <tbody  ng-repeat="producto in productos">
			            <tr>
			              <td>{{producto.Id}}</td>
			              <td>{{producto.Producto}}</td>
			              <td>{{producto.Unidad}}</td>
			               <th>
			                <button type="button" class="btn btn-primary col-md-12" ng-click="agregar(producto)">  <i class="icon-plus-sign"></i> Agregar a la Lista</button>
			              </th> 
			            </tr>

			          </tbody>
			        </table>
						<pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
			        </div>


		            </div>
		            <br/>
		            <div class="span5">
		                <h3>Lista de Materiales</h3>
		        
		                <table class="table table-striped">
		                    <thead>
		                        <tr>
		                            <th class="span1">Id</th>
		                            <th class="span5">Producto</th>
		                            <th class="span2">Cantidad</th>
		                            <th class="span2">U.M</th>
		                        </tr>
		                    </thead>
		                    <tbody>
		                        <tr class="well" ng-repeat="item in lista">
		                            <td>{{item.Producto.Id}}</td>
		                            <td>{{item.Producto.Producto}}</td>
		                            <td>
		                                <input type="text" ng-model="item.Cantidad" />
		                            </td>
		                            <td>
		                                <input type="text" ng-model="item.Unidad" />
		                            </td>
		                        </tr>
		                    </tbody>
		                </table>
		            </div>
					</br>
					</br>
					<div class="row">
		            	<button type="button" class="btn btn-primary col-md-12" ng-click="open()">Ordenar Pedido</button>
					</div>
		        </div>
            </div>


		    <div id="miSolicitud" class="modal fade">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Confirmación del Pedido</h4>
						</div>
						<div class="modal-body">
							<label>Desea completar su solicitud.</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Cancelar
							</button>
							<button type="button" class="btn btn-success" data-dismiss="modal">
								Confirmar
							</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->




</div>